html,
body {
    background: #000000;
}

.tracker-wrapper {
    display: grid;
    font-family: 'Courier New', monospace;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "dz dz"
    "fm rm";
    margin: 2% 0 0 0;
}

.drop-zone {
    grid-area: dz;
    justify-self: center;
    color: #ffffff;
    height: 700px;
    position: relative;
    text-align: center;
    width: 900px;
}

.file-menu {
    border: 5px solid #ffffff;
    display: inline;
    grid-area: fm;
    height: 100px;
    justify-self: right;
    margin: 40px 40px 0 0;
    overflow-y: scroll;
    width: 300px;
}

.file-menu::-webkit-scrollbar {
    display: none;
}

.race-menu {
    border: 5px solid #ffffff;
    display: inline;
    grid-area: rm;
    height: 100px;
    margin: 40px 0 0 40px;
    overflow-y: scroll;
    width: 300px;
}

.race-menu::-webkit-scrollbar {
    display: none;
}

.file-dialog {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(80, 80, 80, 0.4);
    backdrop-filter: blur(0.3em);
    /*display: block;*/
    display: none;
}